* {
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 80vw;
    margin: 0 auto;
}

header {
    background-color: #4a3327;
    color: #f3e5cf;
    text-align: center;
    padding: 2vw;
}

header h1 {
    font: bold 4vw Arial, sans-serif;
}

nav {
    background-color: #1f1b18;
    padding: 1vw;
    text-align: center;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding: 1vw;
}

nav a {
    color: #f3e5cf;
    text-decoration: none;
    font: bold 1.5vw Arial, sans-serif;
}

.home main {
    background-color: #e7d3b8;
    color: #2a211c;
    height: 100vh;
    padding: 4vw;
    text-align: center;
}

.home main h2 {
    margin-bottom: 2vw;
}

.home main img {
    display: block;
    max-width: 70%;
    margin: 0 auto 2vw auto;
}

.home main p {
    font: 1.5vw Arial, sans-serif;
    line-height: 1.5;
}

.scary-main {
    text-align: center;
    padding: 30px;
    background-color: #e7d3b8;
}

.scary-main img {
    max-width: 100%;
    height: auto;
}

#cute img {
    width: 300px;
}

#monsters img {
    width: 200px;
    margin: 10px;
}

[hidden] {
    display: none !important;
}

#scaryButton {
    background-color: #4a2020;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}

#scaryButton:hover {
    background-color: #8b0000;
}
